/* {
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    }]
  ]
  "presets": ["env"]
} */

{
	"presets": ["@babel/preset-env"],
	"env": {
		"test": {
			"presets": ["env"]
		}
	}
}
